{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>AnalogVibe</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=5014">
</head>
<body class="{% if request.COOKIES.theme == 'dark' %}dark-theme{% else %}light-theme{% endif %}">
<div class="page">

    <header class="topbar">
        <nav class="nav">
            <a href="{% url 'cameras:home' %}">Главная</a>
            <a href="{% url 'cameras:camera_list' %}">Камеры</a>
            <a href="{% url 'presets:preset_list' %}">Пресеты</a>
            <a href="{% url 'exhibitions:exhibition_list' %}">Выставки</a>

            {% if request.user.is_authenticated %}
                <a href="{% url 'accounts:profile' %}">Профиль</a>
            {% else %}
                <a href="{% url 'accounts:login' %}">Войти</a>
            {% endif %}

            <a href="{% url 'cameras:toggle_theme' %}">
                {% if request.COOKIES.theme == 'dark' %}
                    Светлая
                {% else %}
                    Тёмная
                {% endif %}
            </a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div>
            <h3>AnalogVibe</h3>
            <p>Пленочная эстетика, старые камеры и шумные фотоархивы.</p>
        </div>

        <div class="footer-note">
            <p>Film mood</p>
            <p>Vintage cameras · Presets · Exhibitions</p>
        </div>
    </footer>

</div>

<script src="{% static 'js/crud_actions.js' %}?v=156"></script>
{% block scripts %}
{% endblock %}

</body>
</html>