{% extends 'base.html' %}

{% block content %}

<section class="catalog-page">
    <div class="catalog-head">
        <h1>Удаление</h1>
        <p>
            Удалить можно только свой комментарий.
        </p>
    </div>

    <article class="review-form-card">
        <h2>Удалить комментарий?</h2>

        <p class="item-meta">
            {{ review.author_name }}
        </p>

        <p>
            {{ review.text }}
        </p>

        <form method="post">
            {% csrf_token %}

            <div class="review-actions-panel">
                <button type="submit" class="review-button review-delete-button">
                    Да, удалить
                </button>

                <a href="{% url 'exhibitions:exhibition_detail' review.exhibition.id %}" class="text-link">
                    Отмена
                </a>
            </div>
        </form>
    </article>
</section>

{% endblock %}